# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / Packaging
dist/
build/
*.egg-info/
.eggs/

# Environments
.env
venv/
ENV/
assets/*
# Project Specific
/src/temp/
/src/assets/files/
/src/assets/memories/chroma_db/
/src/assets/memories/chroma_db.sqlite3
/src/logs/
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Documentation
site/
temp
